      <!-- Footer Links row -->
      <div class="row fos-link-footer">
        <div class="col-md-2 col-md-offset-3">
            <h3>Research</h3>
            <ul>
                <li>Trends</li>
                <li>Online Employment Report</li>
                <li>Annual Impact Report</li>
                <li>Global Business Survey</li>
                <li>Global Freelancer</li>
                <li>Women in Technology</li>
            </ul>
        </div>
        <div class="col-md-2">
            <h3>Research</h3>
            <ul>
                <li>Trends</li>
                <li>Online Employment Report</li>
                <li>Annual Impact Report</li>
                <li>Global Business Survey</li>
                <li>Global Freelancer</li>
                <li>Women in Technology</li>
            </ul>
        </div>
        <div class="col-md-2">
            <h3>Research</h3>
            <ul>
                <li>Trends</li>
                <li>Online Employment Report</li>
                <li>Annual Impact Report</li>
                <li>Global Business Survey</li>
                <li>Global Freelancer</li>
                <li>Women in Technology</li>
            </ul>
        </div>
        <div class="col-md-2">
            <h3>Research</h3>
            <ul>
                <li>Trends</li>
                <li>Online Employment Report</li>
                <li>Annual Impact Report</li>
                <li>Global Business Survey</li>
                <li>Global Freelancer</li>
                <li>Women in Technology</li>
            </ul>
        </div>
      </div> <!-- End of footer Links row -->

      <!-- Footer Content and Social Links row -->
      <div class="row">
        <div class="fos-social-copy">
          <ul>
            <li class="fos-facebook"><a href="#"></a></li>
            <li class="fos-google"><a href="#"></a></li>
            <li class="fos-linkedin"><a href="#"></a></li>
            <li class="fos-pintrest"><a href="#"></a></li>
            <li class="fos-tweeter"><a href="#"></a></li>
          </ul>
          <div class="row fos-copyright">
              &copy; 1999 - 2014 xxxxxx. All Rights Reserved. U.S. Patents 9,069,242, 8,073,762 and 3,380,709
          </div>
          <div class=" row fos-webmaster">
              Eam debet abhorreant eu. Cu nihil zril corpora quo, id delectus perfecto nec. Ex ponderum efficiantur sit. Tibique mandamus est ex.
          </div>
        </div>
      </div> <!-- End of Footer Content row -->
