<!-- Navigation and Search Header starts -->
	    <div class="row navbar-fixed-top"> 
	      <nav id="fos-primary-nav-wrap" class="fos-custom-navbar">
	        <a href=""><div class="fos-nav-brand" style="display: none;"></div></a>
	        <ul>
	          <li class="fos-current-menu-item"><a href="#">Home</a></li>
	          <li><a href="#">You Are</a></li>
	          <li><a href="#">How It Works</a></li>
	          <li><a href="#">Partners</a></li>
	         <!--  <li><a href="#">Registration</a>
	            <ul>
	              <li><a href="#">Starter Login Form</a></li>
	              <li><a href="#">Basic Login Form</a></li>
	              <li><a href="#">Corporate Login Form</a></li>
	            </ul>
	          </li> -->
	          <li><a href="#">Resources</a></li>
	          <li><a href="#fos-login-form" id="fos-modaltrigger">Login</a></li>
	          <li><a href="#/userRegistration">Sign Up</a></li>
	        </ul>
	      </nav>
	      </div>
	      <div class="row fos-sub-header" id="fos-topNav">
		      <div class="col-xs-4">
		          <a href="#"><div class="fos-brand-browse-bar"></div></a>
		      </div>
		      <div class="col-xs-8">
		        <form class="fos-form-position">
		            <fieldset>
		                <label for="browse">Browse Category</label>
		                <input type="text" name="browse" class="textbox" />
		                <button class="fos-button-browse" type="submit" name="browse">Go</button>
		            </fieldset>
		        </form>
		      </div>
	    </div> <!-- Navigation and Search Header ends -->	